.container {
    padding: 10px 20px;
    background-color: var(--surface-e);
    border-radius: 5px;
}

span{
    /* color: var(--text-color); */
    font-size: larger;
    font-weight: bold;
    margin-right: 15px;
}

.pi-sort-up-fill{
    color: green;
}

.toolbar {
    background-color: var(--surface-card);
    border-radius: 8px;
    box-shadow: var(--shadow-2);
    margin-bottom: 1.5rem;
}

.toolbar h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color-primary);
}

