<div class="container grid grid-nogutter">
    <div class="col-12 md:col-7 flex align-items-center">
        <span pTooltip="Incomes" [style]="{'color':'var(--green-500)'}">
            <i class="pi pi-sort-up-fill"></i>
            {{ balanceInformation.totalIncomes |
            currencyCustom:true }}</span>
        <span pTooltip="Outflow" [style]="{'color':'var(--red-500)'}">
            <i class="pi pi-sort-down-fill"></i>
            {{ balanceInformation.totalExpenses |
            currencyCustom:true }}</span>
        <span pTooltip="Balance">
            = {{ balanceInformation.totalIncomes - balanceInformation.totalExpenses| currencyCustom:true}}
        </span>
    </div>
    <div class="col-12 md:col-5 flex justify-content-end">
        <button pButton class="mr-2" [severity]="'info'"><i class="pi pi-file-excel mr-2"></i> Export</button>
        <!-- <button pButton icon="pi pi-times" [severity]="'danger'" (click)="onClearFilters()">Clear Filters</button> -->
    </div>
</div>