.container {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
    justify-content: space-between;
    /* Espacia los extremos */
    padding: 10px;
    /* Espaciado interno */
    background-color: var(--surface-e);
    /* Fondo opcional */
    gap: 10px;
    /* Espacio entre los elementos */
    margin-bottom: 20px;
    border-radius: 10px;
}

.logo {
    flex: 0 0 auto;
    /* Tamaño fijo */
    width: 100px;
    /* Ajusta según tu logo */
    text-align: center;
}

.logo img{
    width: 40px;
    color: var(--color-texto);
}

.middle {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    text-align: start;
    /* Centra el contenido dentro */
}

.middle p{
    color: var(--color-text-card-two);
    font-weight: bold;
    font-size: larger;
}

.dropdowns {
    display: flex;
    gap: 10px;
    /* Espacio entre los dropdowns */
    align-items: center;
    /* Asegura alineación vertical */

    margin-right: 10px;
}


