<div class="grid">
    <div class="col-12 h-full">
        <!-- Si los datos están cargando, mostramos el skeleton -->
        <app-cards *ngIf="budgetCard?.length" [cardsInfo]="budgetCard"></app-cards>
        <!-- <p-skeleton *ngIf="!budgetCard?.length" [width]="'100%'" [height]="'100px'"></p-skeleton> -->
    </div>

    <div class="col-12 h-full flex justify-content-end">
        <div class="card">
            <app-button [label]="'Create New Budget'" [icon]="'pi pi-credit-card'"
                (onClick)="toggleModal(true)"></app-button>

            <p-dialog header="New budget" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
                <app-form-budget (dataBudget)="saveBudget($event)" (closeModal)="toggleModal(false)"></app-form-budget>
            </p-dialog>
        </div>
    </div>

    <div class="col-12 h-full">
        <!-- Muestra skeleton mientras se cargan los presupuestos -->
        <app-all-budgets *ngIf="budgetData?.length" [budgetData]="budgetData"
            (dataToEdit)="updateBudget($event)"></app-all-budgets>
        <p-skeleton *ngIf="!budgetData?.length" [width]="'100%'" [height]="'200px'"></p-skeleton>
    </div>
</div>