<div class="container grid">
    <div class="col-12">
        <h1>Reset your password</h1>
    </div>

    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <label for="password">Password *</label>
                    <div class="password-wrapper">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" id="password"
                            placeholder="">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="togglePasswordVisibility()"></i>
                    </div>
                    <small class="error" *ngIf="hasError('password', 'required')">Password is required</small>
                    <small class="error" *ngIf="hasError('password', 'minlength')">Password must be at least 6
                        characters</small>
                </div>

                <!-- Confirm Password -->
                <div class="col-12 md:col-6">
                    <label for="confirm">Confirm password *</label>
                    <div class="password-wrapper">
                        <input formControlName="confirm" [type]="showConfirmPassword ? 'text' : 'password'"
                            id="password" placeholder="">
                        <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="toggleConfirmPasswordVisibility()"></i>
                    </div>
                    <small class="error" *ngIf="hasError('confirm', 'required')">Confirmation is required</small>
                </div>

                <div class="col-12 flex justify-content-center">
                    <button [disabled]="form.invalid || loading" type="submit">
                        <ng-container *ngIf="loading; else normalText">
                            <span class="spinner"></span> Loading...
                        </ng-container>
                        <ng-template #normalText>Change password</ng-template>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>