.container {
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}

label {
    display: block;
    text-align: start;
    margin-bottom: 8px;
    /* justify-content: start; */
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* Estilos generales para los inputs */
input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    color: black;
    transition: all 0.3s ease-in-out;
}

/* Cambiar el borde y fondo al enfocar */
input:focus {
    border-color: #ffd700;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Placeholder en color más suave */
input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Botón de envío */
button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #141E30;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ffcc00;
}

p {
    color: black;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}


.password-container {
    position: relative;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* Espacio para el icono */
}

.password-wrapper i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: black;
    transition: color 0.3s ease-in-out;
}

.password-wrapper i:hover {
    color: #ffcc00;
}