<div class="container">
    <div class="info-user">
        <img src="../../../../assets/default-avatar.png" alt="">
    </div>
    <div class="buttons">
        <p-dropdown [options]="months" [(ngModel)]="selectedMonth" optionLabel="label" placeholder="Bank" />
        <p-dropdown [options]="months" [(ngModel)]="selectedMonth" optionLabel="label" placeholder="Year" />
        <p-dropdown [options]="months" [(ngModel)]="selectedMonth" optionLabel="label" placeholder="Month" />
    </div>
</div>
