.container{
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}


.info-user{
    flex: 1 1 auto;
}

.info-user img{
    width: 50px;
}

.buttons{
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70%;
}