.title {
    text-align: center;
    font-size: 2rem; /* Ajusta el tamaño del texto */
    font-weight: bold; /* Hace el título más destacado */
    margin-bottom: 5px; /* Espacio debajo del título */
    color: #333; /* Cambia el color del texto si lo deseas */
}