<ng-template #loadingScreen>
    <div class="loader">
        <p-progressSpinner ariaLabel="loading" />
    </div>
</ng-template>

<div class="container grid" *ngIf="loading; else loadingScreen">
    <div class="col-12 title">
        Create Account
    </div>
    <div class="social-icons">
        <a href="#" (click)="onSocialSignUp('github', $event)">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" (click)="onSocialSignUp('google',$event)">
            <i class="fa-brands fa-google google-icon"></i>
        </a>
    </div>
    <div class="col-12 flex justify-content-center ">
        <p class="p-0">Or use your email to create an account</p>
    </div>
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="verifyRegister()">
            <div class="grid">

                <!-- Nombre -->
                <div class="col-12 md:col-4">
                    <label for="name">Name *</label>
                    <input formControlName="name" type="text" id="name" autocomplete="name">
                    <small class="error" *ngIf="hasError('name', 'required')">Name is required</small>
                </div>

                <!-- Email -->
                <div class="col-12 md:col-8">
                    <label for="email">Email *</label>
                    <input formControlName="email" type="email" id="email" autocomplete="email">
                    <small class="error" *ngIf="hasError('email', 'required')">Email is required</small>
                    <small class="error" *ngIf="hasError('email', 'email')">Invalid email format</small>
                </div>

                <!-- Password -->
                <div class="col-12 md:col-6 password-container">
                    <label for="password">Password</label>
                    <div class="password-wrapper">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" id="password"
                            placeholder="">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="togglePasswordVisibility()"></i>
                    </div>
                    <small class="error" *ngIf="hasError('password', 'required')">Password required</small>
                </div>

                <!-- Confirm Password -->
                <div class="col-12 md:col-6">
                    <label for="confirm">Confirm password *</label>
                    <div class="password-wrapper">
                        <input formControlName="confirm" [type]="showConfirmPassword ? 'text' : 'password'"
                            id="password" placeholder="">
                        <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="toggleConfirmPasswordVisibility()"></i>
                    </div>
                    <small class="error" *ngIf="hasError('confirm', 'required')">Password required</small>
                </div>

                <!-- Botón de registro -->
                <div class="col-12 flex justify-content-center">
                    <button [disabled]="blockButton || form.invalid" type="submit">
                        <span *ngIf="!blockButton">Register</span>
                        <span *ngIf="blockButton">
                            <i class="fa fa-spinner fa-spin"></i> Registering...
                        </span>
                    </button>
                </div>
            </div>
        </form>

    </div>

    <div class="a col-12 flex justify-content-center a">
        <p class="p-0">Already have an account? <a routerLink="/auth/login">Login</a></p>
    </div>
</div>