<p-dialog header="Update Wallet" [modal]="true" [(visible)]="visible" (onHide)="closeModal()"
    [style]="{ width: ' 50rem' }">
    <!-- FROMULARIO -->
    <app-dynamic-form [fields]="formConfig!" [submitButton]="'update'" [md_responsive]="'md:col-6'"
        [data]="walletSelected()" (cancel)="closeModal()"
        (sendForm)="saveOrUpdateTransaction($event)"></app-dynamic-form>
</p-dialog>


<app-table *ngIf="!isMobile" [columns]="columns" [data]="data" [actions]="actions" [cellTemplates]="{
        name:nameTemplate,
        balance: balanceTemplate,
        type_account: typeAccountTemplate,
        initial_balance: balanceTemplate,
    }"></app-table>

<ng-template #nameTemplate let-value>
    <td>{{value|titlecase}}</td>
</ng-template>

<ng-template #balanceTemplate let-value>
    <td>{{value|currencyCustom:true}}</td>
</ng-template>


<ng-template #typeAccountTemplate let-value>
    <td *ngIf="value === 'DEBIT'; else credit">
        <div class="center">
            <p-tag icon="pi pi-circle-fill" severity="warning" value="{{value}}" />
        </div>
    </td>

    <ng-template #credit>
        <div class="center">
            <p-tag icon="pi pi-circle-fill" severity="success" value="{{value}}" />
        </div>
    </ng-template>
</ng-template>


<div class="data" *ngIf="isMobile">

    <div class="dataview flex flex-nowrap justify-content-between gap-1 p-2 pb-3" *ngFor="let item of data">
        <div class="item-one flex flex-wrap align-content-center ">
            <div [ngStyle]="{'background-color':'var(--purple-500)'}"
                class="flex justify-content-center align-items-center p-3 border-circle">
                <i class="icon fa-solid fa-money-check-dollar"></i>
            </div>
        </div>
        <div class="item-two flex flex-column gap-2">
            <div class="item-two-left">
                <span class="font-medium text-secondary text-sm">
                    {{ item.name | titlecase }}
                </span>
                <div class="text-lg font-medium text-900">
                    {{ item.balance | currencyCustom:true }}
                </div>
            </div>
            <div class="item-two-right flex align-content-center gap-2">
                <div class="flex align-content-center">
                    <p-tag value="{{item.type_account}}" severity="secondary" />
                </div>

                <!-- <div *ngIf="item.repeat !== 'NEVER'" class="flex flex-wrap justify-content-center align-content-center">
                    <i pTooltip="repeat: {{item.repeat}}" class="pi pi-clock"></i>
                </div> -->
            </div>

        </div>
        <div class="item-three flex-wrap flex align-content-center gap-2">
            <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(item.id!)" [outlined]="true"></p-button>
            <p-button icon="pi pi-pencil" (onClick)="sendEditRow(item.id!, item)"></p-button>
        </div>
    </div>
</div>