<p-dialog header="Update Wallet" [modal]="true" [(visible)]="visible" (onHide)="closeModal()"
    [style]="{ width: ' 50rem' }">
    <!-- FROMULARIO -->
    <app-dynamic-form [fields]="formConfig!" [submitButton]="'update'" [md_responsive]="'md:col-6'"
        [data]="walletSelected()" (cancel)="closeModal()"
        (sendForm)="saveOrUpdateTransaction($event)"></app-dynamic-form>
</p-dialog>


<app-table *ngIf="!isMobile" [columns]="columns" [data]="data" [actions]="actions" [cellTemplates]="{
        name:nameTemplate,
        balance: balanceTemplate,
        initial_balance: balanceTemplate,
    }"></app-table>

<ng-template #nameTemplate let-value>
    <td>{{value|titlecase}}</td>
</ng-template>

<ng-template #balanceTemplate let-value>
    <td>
        <!-- {{value|currencyCustom:true}} -->
        <span
        [ngClass]="{'text-green-500': value >= 0, 'text-red-500': value < 0}"
        class="font-bold">{{ value | currencyCustom:true }}</span>
    </td>

</ng-template>


<!-- <ng-template #typeAccountTemplate let-value>
    <td *ngIf="value === 'DEBIT'; else credit">
        <div class="center">
            <p-tag icon="pi pi-circle-fill" severity="warning" value="{{value}}" />
        </div>
    </td>

    <ng-template #credit>
        <div class="center">
            <p-tag icon="pi pi-circle-fill" severity="success" value="{{value}}" />
        </div>
    </ng-template>
</ng-template> -->


<div class="data" *ngIf="isMobile">
    <div class="dataview flex flex-nowrap justify-content-between gap-2 p-2 pb-3" *ngFor="let item of data">
        <!-- Ícono de la Wallet -->
        <div class="item-one flex flex-wrap align-content-center">
            <div [ngStyle]="{'background-color':'var(--purple-500)'}"
                class="flex justify-content-center align-items-center p-3 border-circle">
                <i class="icon fa-solid fa-wallet text-white text-lg"></i>
            </div>
        </div>

        <!-- Información de la Wallet -->
        <div class="item-two flex flex-column gap-2 w-full">
            <div class="item-two-left">
                <span class="font-medium text-secondary text-sm">
                    {{ item.name | titlecase }}
                </span>

                <!-- Contenedor de montos con mejor diseño -->
                <div class="amount-container">
                    <span class="text-sm text-500">💰 Initial:
                        <span class="text-primary">{{ item.initial_balance | currencyCustom:true }}</span>
                    </span>
                    <span class="text-sm text-500">➡️ Balance:
                        <span
                            [ngClass]="{'text-green-500': (item.incomes - item.expenses) >= 0, 'text-red-500': (item.incomes - item.expenses) < 0}"
                            class="font-bold">{{ (item.incomes - item.expenses) | currencyCustom:true }}</span>
                    </span>
                </div>
            </div>

            <!-- Tipo de cuenta -->
            <!-- <div class="item-two-right flex align-content-center gap-2">
                <p-tag [value]="item.type_account" severity="secondary"></p-tag>
            </div> -->
        </div>

        <!-- Botones de acción -->
        <div class="item-three flex-wrap flex align-content-center gap-2">
            <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(item.id!)" [outlined]="true"></p-button>
            <p-button icon="pi pi-pencil" (onClick)="sendEditRow(item.id!, item)"></p-button>
        </div>
    </div>
</div>