.toolbar {
    background-color: var(--surface-card);
    border-radius: 8px;
    box-shadow: var(--shadow-2);
    margin-bottom: 1.5rem;
}

.toolbar h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color-primary);
}

.icon {
    font-size: 2rem;
}


.category {
    background-color: var(--color-cards-background);
}

span {
    display: block;
}

.text-truncate {
    white-space: nowrap;
    /* Evita que el texto haga saltos de línea */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
    /* Agrega los puntos suspensivos */
}

.header {
    background-color: var(--color-cards-background);
}