<form action="" class="">
    <div class="form">

        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Test</label>
            <p-inputNumber inputId="integeronly" />
        </div>
        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Test</label>
            <input type="text">
        </div>
    </div>

    <div class="botons">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>