.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    border: 2px solid red;
}

.input{
    display: flex;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

input:focus-visible{
    border: 1px solid pink;
}

label{
    display: flex;
    align-items: center;
}