.grid {
    margin: 0px;
    /* padding: 10px; */
}

span {
    font-weight: bold;
    font-size: large;
}

/* image by default */
.empty-state {
    text-align: center;
    padding: 20px;
}

.empty-state img.empty-image {
    max-width: 250px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.empty-state p.empty-message {
    font-size: 16px;
    color: var(--color-text-muted);
    margin: 0;
}
