<div class="grid">
    <div class="col md:col-8">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item1">Monthly Balance Of The Year: 2024</span>
                </div>
            </ng-template>
            <div *ngIf="monthlyBalance">
                <app-lines-chart-wallets [datasets]="monthlyBalanceData"></app-lines-chart-wallets>
            </div>
        </p-panel>
    </div>


    <div class="col md:col-4">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item2">Percentage of total income by bank</span>
                </div>
            </ng-template>
            <div *ngIf="percentages.length > 0; else img">
                <app-doughnut-chart-wallets [percentages]="percentages"></app-doughnut-chart-wallets>
            </div>
        </p-panel>
    </div>

    <div class="col md:col-4">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item3">Total Incomes and Outflows By Banks</span>
                </div>
            </ng-template>
            <app-vertical-chart-wallets [datasets]="walletsData"></app-vertical-chart-wallets>
        </p-panel>
    </div>


    <div class="col md:col-8">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item4">Wallets</span>
                </div>
            </ng-template>
            <app-table-wallets 
                [data]="walletsData" 
                (walletToUpdate)="updateWallet($event)"
                (idWalletSelectedToDelete)="deleteWallet($event)"></app-table-wallets>
        </p-panel>
    </div>

</div>

<ng-template #img>
    <div class="empty-state">
        <img src="../../../../assets/no-data.jpg" alt="No data available" class="empty-image">
        <p class="empty-message">{{ msgNotFound }}</p>
    </div>
</ng-template>