<div class="container grid gap-2">
    <div class="col-12 title">
        Sign in
        <!-- <p class="p-0 my-10">
        </p> -->
    </div>

    <!-- Íconos de redes sociales -->
    <div class="social-icons">
        <a href="#" (click)="onSocialSignUp('github', $event)">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" (click)="onSocialSignUp('google', $event)">
            <i class="fa-brands fa-google google-icon"></i>
        </a>
    </div>

    <!-- Formulario de login -->
    <div class="col-12">
        <form [formGroup]="form!" (ngSubmit)="onSubmit()">
            <div class="grid">
                <div class="col-12">
                    <label for="email">Email</label>
                    <input formControlName="email" type="email" id="email" placeholder="Enter your email">
                </div>

                <div class="col-12 password-container">
                    <label for="password">Password</label>
                    <div class="password-wrapper">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" id="password"
                            placeholder="Enter your password">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="togglePasswordVisibility()"></i>
                    </div>
                </div>

                <div class="col-12 flex justify-content-center">
                    <!-- <app-button [label]="'Login'" [isDisabled]="form.invalid" [type]="'submit'" [severity]="'warning'"></app-button> -->
                    <button [disabled]="loading || form.invalid" type="submit">
                        <span *ngIf="!loading">Login</span>
                        <span *ngIf="loading">
                            <i class="fa fa-spinner fa-spin"></i> Login...
                        </span>
                    </button>
                </div>
            </div>
        </form>

        <!-- Enlace para recuperar la contraseña -->
        <div class="col-12 text-center">
            <a routerLink="/auth/password-recovery">Forgot your password?</a>
        </div>

        <div class="register text-center">
            <span>Don't have an account?</span><br>
            <a routerLink="/auth/register" class="register-btn">Register now</a>
        </div>

    </div>
</div>