<div class="grid" *ngIf="loading; else loadingScreen">
    <div class="col-12">
        <h2 class="title">Wealth flow</h2>
    </div>

    <div class="col-12">
        <app-dynamic-form [fields]="formConfig!" (sendForm)="onLogin($event)" [submitButton]="'login'"
            [showCancelButton]="false"></app-dynamic-form>
    </div>


    <div class="col-12">
        <div class="flex flex-column mt-3">
            <div class="flex justify-content-center message">
                <p>Don't have an account yet?</p>
            </div>
            <div class="flex justify-content-center">
                <a routerLink="/auth/register">Register here</a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p-messages [(value)]="errorMessage" [enableService]="false"></p-messages>
    </div>
</div>

<ng-template #loadingScreen>
    <div class="loader">
        <p-progressSpinner ariaLabel="loading" />
    </div>
</ng-template>