<div class="grid" *ngIf="!isLoading && budgetData.length > 0; else skeleton">
    <p-panel class="col md:col-6" *ngFor="let value of budgetData">
        <ng-template pTemplate="header">
            <div class="custom-header">
                <span class="item1 title-panel">{{value.name | titlecase}}</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col md:col-5">
                <app-cake-card [percentage]="value.percentage!"></app-cake-card>
            </div>
            <div class="col md:col-7 flex flex-nowrap flex-column justify-content-center">
                <span class="text"><i class="pi pi-calendar-minus"></i> Date range: {{value.date|date}} -
                    {{value.end_date |
                    date}}</span>
                <span class="text"><i class="pi pi-chart-line"></i> Limit amount: {{value.limit_amount! |
                    currencyCustom:true}}</span>

                <span class="text"><i class="pi pi-money-bill"></i> Available: {{value.limit_amount! -
                    value.current_amount! |
                    currencyCustom:true}}</span>
                <div class="flex align-item-center gap-1">
                    <div class="flex align-item-center">
                        <span class="text"><i class="pi pi-stopwatch"></i> Recurring:</span>
                    </div>
                    <div class="ml-2">
                        <p-tag [severity]="'success'">
                            {{value.repeat}}
                        </p-tag>
                    </div>
                </div>

                <div class="flex align-item-center gap-1">
                    <div class="flex align-item-center">
                        <span class="label"><i class="pi pi-tags"></i> Categories:</span>
                    </div>

                    <div class="ml-2">
                        <p-tag [severity]="'warning'" class="mr-1" *ngFor="let cat of value.BudgetCategories">
                            {{ cat.category.name }}
                        </p-tag>
                    </div>
                </div>

                <div class="flex justify-content-center mt-1">
                    <app-button (onClick)="viewInformation(value.id!)" class="m-1"
                        pTooltip="View transactions associated" [label]="''" [icon]="'pi pi-eye'"
                        [tooltipPosition]="'left'" [severity]="'info'"></app-button>
                    <app-button (onClick)="deleteBudget(value.id!)" class="m-1" [label]="''" [icon]="'pi pi-trash'"
                        [severity]="'danger'"></app-button>
                </div>

            </div>
        </div>

    </p-panel>

</div>

<ng-template #skeleton>

    <div class="grid" *ngIf="!showImage; else defaulfImage">
        <p-panel class="col md:col-6" *ngFor="let _ of [1, 2, 3, 4]"> <!-- Número de placeholders -->
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <p-skeleton width="60%" height="1.5rem"></p-skeleton>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col md:col-5">
                    <p-skeleton shape="circle" size="12rem"></p-skeleton>
                </div>
                <div class="col md:col-7 flex flex-nowrap flex-column justify-content-center">
                    <div>
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="5rem" styleClass="mb-2" />
                        <p-skeleton height=".5rem" styleClass="mb-2" />
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="5rem" styleClass="mb-2" />
                        <p-skeleton height=".5rem" styleClass="mb-2" />
                        <p-skeleton width="10rem" styleClass="mb-2" />

                    </div>

                    <div class="flex justify-content-center">
                        <p-skeleton shape="circle" size="2.5rem" class="m-1"></p-skeleton>
                        <p-skeleton shape="circle" size="2.5rem" class="m-1"></p-skeleton>
                    </div>

                    <p-dialog header="Loading..." [modal]="true" [visible]="false" [style]="{ width: '50rem' }">
                        <p-skeleton width="100%" height="10rem"></p-skeleton>
                    </p-dialog>
                </div>
            </div>
        </p-panel>
    </div>
</ng-template>

<ng-template #defaulfImage>
    <div class="grid">
        <div class="flex justify-content-center">
            <img src="../../../../../assets/no-data.jpg" alt="">
        </div>
    </div>
</ng-template>