.label {
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.text{
    margin-bottom: 4px;
}

.pi {
    font-size: 1.3rem;
    margin-right: 8px;
}

p-panel{
    padding: 1;
}

span{
    display: flex;
    align-items: center;
}

.pi-calendar-minus {
    color: var(--color-text-card-one);
}

.pi-money-bill {
    color: var(--color-text-card-three);
}

.pi-tags {
    color: var(--color-text-card-two);
}

.pi-stopwatch{
    color: var(--color-text-card-four)
}

.pi-chart-line{
    color: var(--cyan-500)
}
