.paginator {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--color-cards-background);
    margin-right: 10px;
}

.paginator .info-data{
    color: var(--color-texto);
}

.paginator .buttons{
    display: flex;
    align-items: center;
}

button {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-texto);
    cursor: pointer;
    border: none;
}

button.active {
    background-color: var(--color-menu-hover);
}

button:hover {
    background-color: var(--color-menu-hover);
}

div {
    cursor: pointer;
    font-size: 20px;
}

div.disabled {
    color: gray;
    pointer-events: none;
    cursor: not-allowed;
}