<div class="dashboard">
    <div class="card">
        <div class="card-info">
            <div class="card-icon">
                <img src="../../../../assets/default-avatar.png" alt="">
            </div>
            <div class="card-data">
                <span class="title-one">Total Incomes</span>
                <span class="amount-one">{{ walletSummary.totalIncome| currency}}</span>
            </div>
        </div>
        <div class="img total-incomes"></div> <!-- La imagen de fondo aquí -->
    </div>

    <div class="card">
        <div class="card-info">
            <div class="card-icon">
                <img src="../../../../assets/default-avatar.png" alt="">
            </div>
            <div class="card-data">
                <span class="title-two">Total Outflow</span>
                <span class="amount-two">{{ walletSummary.totalExpenses | currency}}</span>
            </div>
        </div>
        <div class="img total-outflow"></div> <!-- La imagen de fondo aquí -->
    </div>

    <div class="card">
        <div class="card-info">
            <div class="card-icon">
                <img src="../../../../assets/default-avatar.png" alt="">
            </div>
            <div class="card-data">
                <span class="title-three">Active Budgets</span>
                <span class="amount-three">{{walletSummary.budgetsActives}}</span>
            </div>
        </div>
        <div class="img budgets"></div> <!-- La imagen de fondo aquí -->
    </div>

    <div class="card">
        <div class="card-info">
            <div class="card-icon">
                <img src="../../../../assets/default-avatar.png" alt="">
            </div>
            <div class="card-data">
                <span class="title-four">Transactions Month</span>
                <span class="amount-four">{{walletSummary.totalTransactions}}</span>
            </div>
        </div>
        <div class="img total-transactions"></div> <!-- La imagen de fondo aquí -->
    </div>
</div>