<div class="grid-container">
    <!-- main content -->
    <div class="grid">
        <!-- user header -->
        <div class="col-12 h-full">
            <app-user-header [balanceInformation]="balanceInformation()"></app-user-header>
        </div>

        <!-- <div class="col-12 h-full">


        </div> -->

        <!-- cards transactions -->
        <!-- <div class="col-12 h-full">
            <app-transactions-card></app-transactions-card>
        </div> -->

        <!-- main table, buttons and search -->
        <div class="col-12 h-full">
            <p-panel [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="custom-header">
                        <span class="item1">Transactions By Month - {{nameMonthSelected()}} </span>
                    </div>
                </ng-template>


                <div class="grid grid-nogutter pb-5">
                    <p-multiSelect class="mr-2" [options]="walletsData()" placeholder="Select Banks" optionLabel="name"
                        display="chip" [showClear]="true" (onChange)="onChangeBank($event)" />

                    <p-multiSelect class="mr-2" [options]="categoryData()" placeholder="Select Categories"
                        optionLabel="name" display="chip" [showClear]="true" (onChange)="onChangeCategories($event)" />

                    <p-multiSelect class="mr-2" [options]="type_transactions" placeholder="Select Type"
                        optionLabel="name" display="chip" [showClear]="true"
                        (onChange)="onChangeTypeTransactions($event)" />

                    <p-multiSelect class="mr-2" [options]="recurring_transaction"
                        placeholder="Select Recurring Transaction" optionLabel="name" display="chip" [showClear]="true"
                        (onChange)="onChangeTypeTransactions($event)" />

                    <!-- <p-multiSelect class="mr-2" [options]="cities" placeholder="Select Repeat" optionLabel="name"
                        display="chip" [showClear]="true" /> -->

                    <!-- <p-multiSelect class="mr-2" [options]="years()" placeholder="Select Years" optionLabel="name"
                        display="chip" [showClear]="true" />

                    <p-multiSelect class="mr-2" [options]="months" placeholder="Select Months" optionLabel="name"
                        display="chip" [showClear]="true" /> -->

                </div>

                <!-- buttons and search -->
                <div class="grid grid-nogutter mb-4">
                    <!-- search -->
                    <div class="col-12 md:col-6 flex justify-content-start align-items-center">
                        <p-iconField iconPosition="left">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input type="text" pInputText placeholder="Search"
                                (input)="onInputChangeWithDebounce($event)" [size]="" />
                        </p-iconField>
                    </div>

                    <div class="col-12 md:col-6 flex justify-content-end align-items-center">
                        <!-- BUTTONS -->
                        <app-drop-down class="mr-2" [severity]="'help'" [titleDropDown]="'Month'"
                            [optionsDropDown]="months" (onChange)="onMonthChange($event)">
                        </app-drop-down>
                        <button pButton pRipple label="Add Transaction" class="p-button-success" icon="pi pi-plus"
                            (click)="showDialog()"></button>

                        <!-- MODAL -->
                        <p-dialog header="Add New Transaction" [modal]="true" [(visible)]="visible"
                            [style]="{ width: '50rem' }">
                            <!-- FROMULARIO -->
                            <app-dynamic-form [fields]="formConfig" [submitButton]="nameButton"
                                [md_responsive]="'md:col-6'" [data]="transactionSelected" (cancel)="closeModal()"
                                (sendForm)="saveOrUpdateTransaction($event)"></app-dynamic-form>
                        </p-dialog>
                    </div>
                </div>


                <app-table [columns]="tableColumns" [data]="transactions" [meta]="metaData" [numberRegistersByPage]="10"
                    (paginate)="onPageChange($event)" [actions]="actions" [cellTemplates]="{
                    type: tagTemplate, 
                    date: dateTemplate, 
                    amount: amountTemplate, 
                    category: categoryTemplate,
                    repeat: repeatTemplate,
                }" [eventTrigger]="eventTrigger">
                </app-table>

                <ng-template #tagTemplate let-value>
                    <td *ngIf="value === 'INCOME'; else outflow">
                        <div class="test">
                            <p-tag severity="success" value="INCOME" />
                        </div>
                    </td>
                    <ng-template #outflow>
                        <td>
                            <p-tag severity="danger" value="OUTFLOW" />
                        </td>
                    </ng-template>
                </ng-template>

                <ng-template #dateTemplate let-value>
                    <td>{{ value | date:'longDate':'UTC' }}</td>
                </ng-template>

                <ng-template #amountTemplate let-value>
                    <td>{{ value | currencyCustom:true }}</td>
                </ng-template>

                <ng-template #categoryTemplate let-value>
                    <td>{{ value }}</td>
                </ng-template>

                <ng-template #repeatTemplate let-value>
                    <td *ngIf="value === 'NEVER'; else otherRepeat">
                        <div class="center">
                            <p-tag icon="pi pi-circle-fill" severity="warning" value="{{value}}" />
                        </div>
                    </td>
                    <ng-template #otherRepeat>
                        <td>
                            <div class="center">
                                <p-tag icon="pi pi-clock" severity="success" value="{{value}}" />
                            </div>
                        </td>
                    </ng-template>
                </ng-template>
            </p-panel>
        </div>

        <!-- <div class="col-12 h-full">
            <app-dataview [data]="transactions"></app-dataview>
        </div> -->

    </div>
</div>