<div class="grid align-items-stretch">
    <!-- user header -->
    <div class="col-12 h-full">
        <app-user-header [balanceInformation]="balanceInformation()"></app-user-header>
    </div>

    <!-- main table, buttons and search -->
    <div class="col-12 h-full">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item1 title-panel">{{ selectedMonthsName.length | i18nPlural:monthsMap }} < {{
                            selectedMonthsName.join(' | ')}} > </span>
                    </div>
                </ng-template>


                <div class="grid grid-nogutter pb-5">
                    <app-filters-transactions [categoryData]="categoryData()" [walletsData]="walletsData()"
                        [years]="years()"></app-filters-transactions>
                </div>

                <!-- buttons and search -->
                <div class="grid grid-nogutter mb-4">
                    <!-- search -->
                    <div class="col-12 md:col-6 sm:col-12 flex justify-content-start align-items-center">
                        <p-iconField iconPosition="left">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input type="text" pInputText placeholder="Search"
                                (input)="onInputChangeWithDebounce($event)" [size]="" />
                        </p-iconField>
                    </div>

                    <div class="col-12 md:col-6 sm:col-12 flex justify-content-end align-items-center">

                        <button pButton pRipple label="Add transaction" class="p-button-success" icon="pi pi-plus"
                            (click)="addTransaction()"></button>

                        <!-- MODAL -->
                        <p-dialog header="Add new transaction" [modal]="true" [(visible)]="visible" (onHide)="closeModal()"
                            [style]="{ width: ' 50rem' }">
                            <!-- FROMULARIO -->
                            <app-dynamic-form [fields]="formConfig!" [submitButton]="nameButton"
                                [md_responsive]="'md:col-6'" [data]="transactionSelected" (cancel)="closeModal()"
                                (sendForm)="saveOrUpdateTransaction($event)"></app-dynamic-form>
                            </p-dialog>
                </div>
    </div>

    <app-table-transactions [transactions]="transactions" [metaData]="metaData" (pageChange)="onPageChange($event)"
        (selectedRecordUpdate)="editRow($event)" (selectedRecordDelete)="deleteRow($event)"></app-table-transactions>
    </p-panel>
</div>

</div>