.grid-container{
    margin: 0;
    padding: 20px;
}

.a{
    margin: 0;
    padding: 20px;
    background-color: var(--color-cards-background);
}


span {
    font-weight: bold;
    font-size: large;
}

.item1 {
    color: var(--color-text-card-one);
}
