<table class="custom-table">
    <thead>
        <tr>
            <th>#</th> <!-- Nueva columna para numeración -->
            <th *ngFor="let column of columns">{{ column.header }}</th>
            <th *ngIf="actions">Actions</th> <!-- Columna para las acciones -->
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="!isLoading; else loadingState">
            <ng-container *ngIf="data.length > 0; else defaultContent">
                <tr *ngFor="let row of data; index as i">
                    <!-- Cálculo del índice global -->
                    <td>{{ getGlobalIndex(i) }}</td>
                    <td *ngFor="let column of columns">
                        <ng-container *ngIf="cellTemplates[column.field]; else defaultCell">
                            <ng-container
                                *ngTemplateOutlet="cellTemplates[column.field]; context: { $implicit: getNestedProperty(row, column.field) }">
                            </ng-container>
                        </ng-container>
                        <ng-template #defaultCell>{{ getNestedProperty(row, column.field) }}</ng-template>
                    </td>
                    <td *ngIf="actions">
                        <app-button *ngFor="let action of actions" label="{{action.label}}" icon="{{action.icon}}"
                            [severity]="action.color" [isDisabled]="false"
                            (onClick)="handleRowAction(row.id, action.icon)">
                        </app-button>
                    </td>
                </tr>
            </ng-container>
            <ng-template #defaultContent>
                <tr>
                    <td [attr.colspan]="(columns.length+1) + (actions ? 1 : 0)" class="empty-state">
                        <div>
                            <img src="../../../../assets/no-data.jpg" alt="No data available" class="empty-image">
                            <p class="empty-message">{{ msgNotFound }}</p>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-container>

        <ng-template #loadingState>
            <tr>
                <td [attr.colspan]="(columns.length+1) + (actions ? 1 : 0)">
                    <div class="loading-spinner">
                        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
                        <p>Cargando datos...</p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>
<app-paginator #appPaginator [meta]="meta" (pageSelected)="handlePageChange($event)"
    [numberRegistersByDefault]="numberRegistersByPage"></app-paginator>