/* Contenedor de la tabla */
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-cards-background);
}

.table-header-wrapper {
    background-color: var(--color-cards-background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.search {
    padding: 5px;
    border-radius: 5px;
}

/* Estilo general de la tabla */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: var(--color-texto-menu);
    box-shadow: ins;
}

/* Encabezado */
.custom-table thead tr {
    background-color: var(--color-text-card-one);
    /* Color azul elegante */
    color: #fff;
    text-transform: uppercase;
}

.custom-table th {
    padding: 12px;
    font-size: 14px;
}

.custom-table tbody {
    background-color: var(--color-cards-background);
}

/* Filas del cuerpo */
.custom-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.custom-table td {
    padding: 12px;
    font-size: 14px;
}

/* Hover efecto */
.custom-table tbody tr:hover {
    background-color: var(--color-hover-table);
}

/* Primera columna */
.custom-table td:first-child {
    font-weight: bold;
    text-align: center;
}

/* Última fila (opcional: resaltado) */
.custom-table tbody tr:last-child {
    border-bottom: 0;
}

/* Estilo responsivo */
@media (max-width: 600px) {

    .custom-table th,
    .custom-table td {
        font-size: 12px;
        padding: 10px;
    }
}

p-button {
    margin-right: 5px;
    padding: 0px;
}

.wrapper-bottons {
    display: flex;

}

.edit-button {
    background-color: blue;
    color: white;
}

.delete-button {
    background-color: red;
    color: white;
}

button {
    padding: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
}

/* image by default */
.empty-state {
    text-align: center;
    padding: 20px;
}

.empty-state img.empty-image {
    max-width: 150px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.empty-state p.empty-message {
    font-size: 16px;
    color: var(--color-text-muted);
    margin: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}