<div class="container">
    <app-user-header></app-user-header>
    <app-transactions-card></app-transactions-card>
    <!-- <app-transaction-table></app-transaction-table> -->

    <div class="grid-container">
        <div class="item item1">

            <app-table [columns]="tableColumns" [data]="transactions" [meta]="metaData"
                (paginate)="onPageChange($event)" [actions]=""
                [cellTemplates]="{type: tagTemplate, date:dateTemplate, amount:amountTemplate, category:categoryTemplate}"></app-table>

            <!-- <app-transaction-table class="table-transaction" [transactions]="transactions" [meta]="metaData"
                (paginate)="onPageChange($event)" (search)="onSearch($event)">
            </app-transaction-table> -->

            <ng-template #tagTemplate let-value>
                <td *ngIf="value === 'INCOME';else outflow">
                    <div class="test">
                        <p-tag severity="success" value="INCOME" />
                    </div>
                </td>
                <ng-template #outflow>
                    <td>
                        <p-tag severity="danger" value="OUTFLOW" />
                    </td>
                </ng-template>
            </ng-template>

            <ng-template #dateTemplate let-value>
                <td>{{ value | date:'longDate':'UTC' }}</td>
            </ng-template>

            <ng-template #amountTemplate let-value>
                <td>{{ value | currency }}</td>
            </ng-template>

            <ng-template #categoryTemplate let-value>
                <td>{{ value }}</td>
            </ng-template>
        </div>
        <div class="item item2"></div>
    </div>

</div>