<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title">Ingresos Anuales</h3>
        <p>$ 1000000</p>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title">Egresos Anuales</h3>
        <p>$ 1000000</p>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title">Gastos mes actual</h3>
        <p>$ 50000</p>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title"># transacciones mes actual</h3>
        <p>10</p>
    </div>
</div>