<!-- <div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title">Ingresos Anuales</h3>
        <p>$ 1000000</p>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title">Egresos Anuales</h3>
        <p>$ 1000000</p>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title">Gastos mes actual</h3>
        <p>$ 50000</p>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h3 class="title"># transacciones mes actual</h3>
        <p>10</p>
    </div>
</div> -->


<div class="flex justify-content-around flex-wrap" style="max-width: 100%">
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 250px; min-height: 130px">
        <h3 class="title">Ingresos Anuales</h3>
        <p>$ 1000000</p>
    </div>
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 250px; min-height: 130px">2</div>
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 250px; min-height: 130px">3</div>
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 250px; min-height: 130px">3</div>
</div>