.container {
    background-color: #588a89;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    /* padding: 20px; */
    border-radius: 20px;
    width: 90%;
    height: 90%;
    /* background-color: #174d57; */
}

.image {
    width: 100%;
    background-color: #19525b;
    border-radius: 20px 0 0 20px;
}

.box {
    width: 100%;
    background-color: #feba33;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.form {
    width: 70%;
    height: 70%;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background-image: url('../../../../assets/164610.jpg');
    background-size: cover;
  background-position: center;
}