/* .logout {
    padding: 15px 15px;
    display: flex;
    justify-content: end;
}

.info-money {
    width: 100vw;
    display: flex;
    background-color: #697565;
    gap: 10px;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
}

.info-money .money {
    padding: 10px;
}

.profile-button {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    transition: background-color 0.5s ease;
}

.profile-button:hover {
    background-color: #45a049;
}

.wrap-info-bank {
    width: 100px;
} */


.header{
    /* margin-top: 5px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header .wrap-info-money {
    width: 85%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .wrap-info-money .info-money {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-menu-hover);
    margin: 5px;
    border-radius: 10px;
}


.header .wrap-info-bank {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .wrap-info-bank .info-bank{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bank .boton {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    transition: background-color 0.5s ease;
}

.info-bank .boton i {
    min-width: 50px;
    font-size: 25px;
}