<!-- <div class="header">
    <div class="wrap-info-money">
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
    </div>

    <div class="wrap-info-bank">

        <div class="info-bank">
            <div class="name-bank">bank</div>
            <div>
                <i class="pi pi-users"></i>
            </div>
        </div>
    </div>
</div> -->


<div class="header">
    <div class="wrap-info-money">
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
        <div class="info-money">
            <span class="money">Dolar: $3500</span>
        </div>
    </div>
    <div class="wrap-info-bank">
        <div class="info-bank">
            <button (click)="onLogout()" class="boton">
                <span #mySpan>Select Bank</span>
                <i class="pi pi-angle-down"></i>
            </button>
        </div>
    </div>
</div>