<div class="header">
    <div class="logout">
        <div class="info-money">
            <div>Dolar: $3500</div>
        </div>
        <div class="info-money">
            <div>Euro: $3500</div>
        </div>
        <div class="info-money">
            <div>Libra: $3500</div>
        </div>
        <div>
            <button class="profile-button" (click)="onLogout()">
                <img src="https://cdn-icons-png.flaticon.com/512/6076/6076493.png" alt="Avatar" class="avatar">
                <span class="name">Brayan Roa</span>
            </button>
        </div>
    </div>
</div>