<!-- <div class="table-container">
    <div class="table-header-wrapper">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search" />
        </p-iconField>
        <p-button label="Contrast" severity="info" />

    </div>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>Repeat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions; index as i">

                <td>
                    <p-button type="button" icon="pi pi-pencil" severity="help"></p-button>
                    <p-button type="button" icon="pi pi-trash" severity="danger"></p-button>
                </td>

                <td>{{ transaction.name}}</td>

                <td>{{ transaction.category.name}}</td>

                <td>{{ transaction.amount | currency }}</td>

                <td>{{ transaction.date | date:'longDate':'UTC' }}</td>

                <td *ngIf="transaction.type === 'INCOME';else outflow">
                    <div class="test">
                        <p-tag severity="success" value="INCOME" />
                    </div>
                </td>
                <ng-template #outflow>
                    <td>
                        <p-tag severity="danger" value="OUTFLOW" />
                    </td>
                </ng-template>
                <td *ngIf="transaction.repeat === 'NEVER'; else notimes">
                    <p-tag icon="pi pi-check" [rounded]="true" />
                </td>
                <ng-template #notimes>
                    <td>
                        <p-tag icon="pi pi-times" [rounded]="true" />
                    </td>
                </ng-template>
            </tr>

        </tbody>
    </table>
    <app-paginator [meta]="meta" (pageSelected)="onPageChange($event)"></app-paginator>
</div> -->