h3 {
    color: var(--color-text-card-one);
    font: bold;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.container .title{
    margin-left: 10px;
}

.container .dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-toggle {
    background-color: var(--color-text-card-one);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-cards-background);
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-texto);
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--color-hover-table);
}