<!-- <div class="container">
    <div class="title">
        <h3>Transactions By Month - Year: {{yearSelected}}</h3>
    </div>

    <div class="dropdown">
        <app-drop-down [titleDropDown]="'Years'" [optionsDropDown]="dataYears"
            (onChange)="onChangeYear($event)"></app-drop-down>
    </div>
</div>
<p-chart type="bar" [data]="data" [options]="options" /> -->


<div class="flex flex-column">
    <app-drop-down class="flex align-items-center justify-content-end mb-2" [titleDropDown]="'Years'"
        [optionsDropDown]="dataYears" (onChange)="onChangeYear($event)"></app-drop-down>

    <!-- <p-dropdown class="flex align-items-center justify-content-end mb-2" (onChange)="onChangeYear($event)" [options]="dataYears" [(ngModel)]="yearSelected" [checkmark]="true" optionLabel="name" [showClear]="true"
        placeholder="Select a City" /> -->
    <p-chart type="bar" [data]="data" [options]="options" />
</div>