<div class="container">

    <!-- <app-user-header></app-user-header> -->
    <app-wallet-card [walletSummary]="summaryWallets"></app-wallet-card>

    <div class="grid-container">
        <!-- <div class="item item1">
            <app-transaction-table [transactions]="transactions" [meta]="metaData" (paginate)="onPageChange($event)"
                (search)="onSearch($event)">
            </app-transaction-table>
        </div> -->

        <app-vertical-bar-chart class="item item1" [dataGraph]="verticalGraph"></app-vertical-bar-chart>
        <app-polar-bar-chart class="item item2" [dataPolar]="polarityGraph"></app-polar-bar-chart>
        <!-- <div class="item item2">Listado de categorias</div> -->

        <app-budgets-information class="item item3" [budgetData]="budgetInformation"></app-budgets-information>
        <app-banks-information class="item item4"></app-banks-information>
        <div class="item item5">Item 5</div>
        <div class="item item6">Item 6</div>
    </div>
</div>