<div class="flex flex-wrap justify-content-center gap-3">
    <div class="flex flex-column flex-grow-1 flex-shrink-1 card" *ngFor="let value of cardsInfo">
        <div class="card-info">
            <div class="card-icon">
                <span class="pi {{value.icon}}"></span>
            </div>
            <div class="card-data">
                <span class="title {{value.idTitle}}">{{value.title}}</span>
                <span #valueElement class="{{value.idValue}}">
                    {{value.value}}
                </span>
            </div>
        </div>
        <div class="img {{value.cardImg}}"></div>
    </div>
</div>