<div class="container-test" #container>
    <div class="barra-lateral" #mini_barra_lateral>
        <div>
            <div class="name-page">
                <i class="pi pi-discord" #icon (click)="handleClick()"></i>
                <span #mySpan>Apex</span>
            </div>

            <!-- BOTON AND MODAL  -->
            <div class="card flex justify-content-center">

                <button pButton severity="help" class="boton" pRipple (click)="showDialog()">
                    <i class="pi pi-users" style="font-size: 1.5rem"></i>
                    <span #mySpan>Create Bank</span>
                </button>


                <p-dialog header="Create New Wallet" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                    <app-dynamic-form [fields]="formConfig" (sendForm)="onSaveNewWallet($event)"></app-dynamic-form>
                    
                    <!-- <form [formGroup]="myForm" (ngSubmit)="onSaveNewWallet()">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" pInputText formControlName="name"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary mb-2 w-full" />
                        </div>
                        <div class="field">
                            <label for="description">Description</label>
                            <input type="text" formControlName="description"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary mb-2 w-full" />
                        </div>
                        <div class="field mb-5">
                            <label for="balance">Balance</label>
                            <input type="text" mask="separator.2" prefix="$" thousandSeparator=","
                                placeholder="Enter amount" formControlName="balance"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary mb-2 w-full" />
                        </div>

                        <div class="flex justify-content-end gap-2">
                            <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
                            <p-button label="Save" type="submit" (onClick)="visible = false"
                                [disabled]="myForm.invalid" />
                        </div>

                    </form> -->
                </p-dialog>
            </div>
            <!-- END BOTON AND MODAL -->
        </div>

        <nav class="navegacion">
            <p-panelMenu [model]="items" styleClass="md:w-14.5rem">
                <ng-template pTemplate="item" let-item>
                    <a pRipple class="flex align-items-center justify-content-start py-2 cursor-pointer"
                        [class.active]="isActive(item.routerLink)"
                        [routerLink]="item.routerLink ? item.routerLink : null">
                        <i [class]="item.icon + ' text-primary'"></i>
                        <span class="ml-2">
                            {{ item.label }}
                        </span>
                    </a>
                </ng-template>
            </p-panelMenu>



            <!-- <ul>
                <li routerLink="/main/dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a >
                        <i class="pi pi-users"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li routerLink="transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a >
                        <i class="pi pi-calendar-plus"></i>
                        <span #mySpan>Transactions</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-receipt"></i>
                        <span #mySpan>Notes</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
            </ul> -->
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <i class="pi pi-moon"></i>
                    <span #mySpan>Dark Mode</span>
                </div>
                <div class="switch" #switch (click)="onDarkMode()">
                    <div class="base">
                        <div class="circulo" #circulo></div>
                    </div>
                </div>
            </div>

            <div class="usuario">
                <img src="../../../../assets/default-avatar.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre" #mySpan>Brayan</span>
                        <span class="email" #mySpan>brayanroa38gmail.com</span>
                    </div>
                    <i class="pi pi-ellipsis-v"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="main">
        <!-- <app-user-header></app-user-header> -->

        <router-outlet></router-outlet>
    </div>
</div>