<div class="container-test" #container>
    <div class="barra-lateral" #mini_barra_lateral>
        <div>
            <div class="name-page">
                <i class="pi pi-discord" #icon (click)="handleClick()"></i>
                <span #mySpan>Apex</span>
            </div>

            <!-- BOTON AND MODAL  -->
            <div class="card flex justify-content-center">

                <button pButton severity="help" class="boton" pRipple (click)="showDialog()">
                    <i class="pi pi-users" style="font-size: 1.5rem"></i>
                    <span #mySpan>Create Bank</span>
                </button>


                <p-dialog header="Create New Wallet" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                    <app-dynamic-form [fields]="formConfig" [submitButton]="'save'" (sendForm)="onSaveNewWallet($event)" (cancel)="closemodal()"></app-dynamic-form>
                    
                </p-dialog>
            </div>
            <!-- END BOTON AND MODAL -->
        </div>

        <nav class="navegacion">
            <!-- <p-panelMenu [model]="items" styleClass="md:w-14.5rem">
                <ng-template pTemplate="item" let-item>
                    <a pRipple class="flex align-items-center justify-content-start py-2 cursor-pointer"
                        [class.active]="isActive(item.routerLink)"
                        [routerLink]="item.routerLink ? item.routerLink : null">
                        <i [class]="item.icon + ' text-primary'"></i>
                        <span class="ml-2">
                            {{ item.label }}
                        </span>
                    </a>
                </ng-template>
            </p-panelMenu> -->



            <ul>
                <li routerLink="/main/dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a >
                        <i class="pi pi-chart-bar"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li routerLink="transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a >
                        <i class="pi pi-money-bill"></i>
                        <span #mySpan>Transactions</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-wallet"></i>
                        <span #mySpan>Budgets</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-cog"></i>
                        <span #mySpan>Configuration</span>
                    </a>
                </li>
                <!-- <li>
                    <a>
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li> -->
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <i class="pi pi-moon"></i>
                    <span #mySpan>Dark Mode</span>
                </div>
                <div class="switch" #switch (click)="onDarkMode()">
                    <div class="base">
                        <div class="circulo" #circulo></div>
                    </div>
                </div>
            </div>

            <div class="usuario">
                <img src="../../../../assets/default-avatar.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre" #mySpan>Brayan</span>
                        <span class="email" #mySpan>brayanroa38gmail.com</span>
                    </div>
                    <i class="pi pi-ellipsis-v"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="main">
        <!-- <app-user-header></app-user-header> -->

        <router-outlet></router-outlet>
    </div>
</div>