<div class="container-test" #container>
    <div class="barra-lateral" #mini_barra_lateral>
        <div class="header">
            <div class="name-page">
                <i class="pi pi-shield" #icon (click)="handleClick()"></i>
                <span #mySpan>WealthFlow</span>
            </div>

            <!-- BOTON AND MODAL  -->
            <div class="card flex justify-content-center">

                <button pButton severity="danger" class="boton" pRipple (click)="logout()">
                    <i class="pi pi-power-off" style="font-size: 1.5rem"></i>
                    <span #mySpan>Log out</span>
                </button>

            </div>
            <!-- END BOTON AND MODAL -->
        </div>

        <nav class="navegacion">
            <ul>
                <li *ngFor="let route of configRoutes" routerLink="{{route.path}}" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: route.exact! }" [pTooltip]="isSmallMenu ? route.label : ''">
                    <a>
                        <i class="{{route.icon}}"></i>
                        <span class="movil-span" #mySpan>{{route.label}}</span>
                    </a>
                </li>

            </ul>
            <p-inputSwitch class="toggle-mobile" (click)="onDarkMode()" [(ngModel)]="checked" />
        </nav>

        <div class="footer-barra-lateral">
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <i class="pi pi-moon"></i>
                    <span #mySpan>Dark Mode</span>
                </div>
                <div class="switch" #switch (click)="onDarkMode()">
                    <div class="base">
                        <div class="circulo" #circulo></div>
                    </div>
                </div>
            </div>

            <div class="usuario">
                <img src="../../../../assets/default-avatar.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre" #mySpan>{{info_person.name | titlecase}}</span>
                        <span class="email" #mySpan>{{info_person.email}}</span>
                    </div>
                    <!-- <p-menu #menu [popup]="true" [model]="items"></p-menu> -->

                    <!-- <i class="pi pi-ellipsis-v" style="cursor: pointer;"></i> -->
                </div>
            </div>
        </div>

    </div>
    <div class="main">
        <!-- <app-user-header></app-user-header> -->
        <div class="header-mobile flex justify-between items-center p-4 text-black">
            <div class="text-lg font-bold">WealthFlow</div>
            <p-button (click)="logout()" [rounded]="true" label="Logout" [severity]="'danger'" icon="pi pi-power-off" />
        </div>
        
        
        <router-outlet></router-outlet>
    </div>
</div>