<div class="verify-code-container flex flex-column align-items-center justify-content-center p-4">
    <h1 class="title text-center mb-3">Verify Your Email</h1>
    <p class="instruction text-center mb-4 text">
        Please check your email and enter the verification code we sent you.
    </p>
    <p-inputOtp [(ngModel)]="code" [integerOnly]="true" class="mb-3" (ngModelChange)="onCodeChange()"></p-inputOtp>
    <p class="note text-center text">
        Didn’t receive the email? 
    </p>
    <a href="#" class="resend-link">Resend code</a>
</div>