.custom-select {
    max-height: 80px;
    /* Establece la altura máxima */
    overflow-y: scroll;
    /* Habilita el scroll solo si es necesario */
    -webkit-appearance: none;
    /* Elimina estilos predeterminados del navegador */
    -moz-appearance: none;
    /* Elimina estilos predeterminados del navegador */
    appearance: none;
    /* Elimina estilos predeterminados */
}



.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/* MULTISELECT */
.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-item {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-item.selected {
    background-color: #4caf50;
    color: white;
}

.category-item:hover {
    background-color: #ddd;
}

.error-message {
    color: var(--red-500);
    font-weight: bold;
    font-size: 1rem;
}