<div class="container" #container>
    <div class="barra-lateral" #mini_barra_lateral>
        <div>
            <div class="name-page">
                <i class="pi pi-discord" #icon (click)="handleClick()"></i>
                <span #mySpan>Apex</span>
            </div>
            <button class="boton">
                <i class="pi pi-users"></i>
                <span #mySpan>Create new</span>
            </button>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a href="#">
                        <i class="pi pi-users"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pi pi-home"></i>
                        <span #mySpan>Dashboard</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <i class="pi pi-moon"></i>
                    <span #mySpan>Dark Mode</span>
                </div>
                <div class="switch" #switch (click)="onDarkMode()">
                    <div class="base">
                        <div class="circulo" #circulo></div>
                    </div>
                </div>
            </div>

            <div class="usuario">
                <img src="../../../../assets/default-avatar.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre" #mySpan>Brayan</span>
                        <span class="email" #mySpan>brayanroa38gmail.com</span>
                    </div>
                    <i class="pi pi-ellipsis-v"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>