<div class="container">
    <div class="sidebar">
        <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYKqRlFkPxHHqUXbChNO8XKtgeOkjI_J6gYg&s"
                alt="">
        </div>
        <ul>
            <li>
                <a href="" class="menu-item">
                    <div class="icon-text">
                        <i class="icon">&#128100;</i> <!-- Icono de usuario -->
                        <span class="text">Perfil</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="" class="menu-item">
                    <div class="icon-text">
                        <i class="icon">&#128100;</i> <!-- Icono de usuario -->
                        <span class="text">Configuración</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="" class="menu-item">
                    <div class="icon-text">
                        <i class="icon">&#128100;</i> <!-- Icono de usuario -->
                        <span class="text">Nosotros</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="" class="menu-item">
                    <div class="icon-text">
                        <i class="icon">&#128100;</i> <!-- Icono de usuario -->
                        <span class="text">Ayuda</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>