<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid">
        <div class="field col-12 md:col-4">
            <label for="name">Name</label>
            <input
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                id="name" type="text" pInputText formControlName="name" />
        </div>

        <div class="field col-12 md:col-4">
            <label for="description">Description</label>
            <input
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                id="description" type="text" pInputText formControlName="description" />
        </div>

        <div class="field col-12 md:col-4">
            <label for="repeat">Repeat</label>
            <select formControlName="repeat"
                class="custom-select text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                <option value="" disabled selected>Select repeat option</option>

                <option *ngFor="let option of recurring_transactions" [value]="option.id">
                    {{ option.name }}
                </option>
            </select>

        </div>


        <div class="field col-12 md:col-4">
            <label for="date">Date</label>
            <input
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                id="date" type="date" pInputText formControlName="date" />
        </div>

        <div class="field col-12 md:col-4">
            <label for="end_date">End Date</label>
            <input
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                id="end_date" type="date" pInputText formControlName="end_date" />
        </div>

        <div class="field col-12 md:col-4">
            <label for="limit_amount">Limit Amount</label>
            <input mask="separator.2" prefix="$" thousandSeparator=","
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                id="limit_amount" type="text" pInputText formControlName="limit_amount" />
        </div>

        <div class="field col-12 md:col-4">
            <label for="walletId">Wallet</label>
            <select formControlName="walletId"
                class="custom-select text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <option value="" disabled selected>Select wallet</option>
                <option *ngFor="let option of walletsData()" [value]="option.code">
                    {{ option.name }}
                </option>
            </select>

            <!-- <p-dropdown class="flex flex-column" [filter]="true" filterBy="name" appendTo="body"
                formControlName="walletId" [options]="walletsData()" optionLabel="name" optionValue="code"
                [placeholder]="" /> -->
        </div>

        <div class="field col-12 md:col-12">
            <label for="categories">Categories</label>
            <div class="category-list">
                <div *ngFor="let category of categoryData()" class="category-item flex"
                    [ngClass]="{'selected': selectedCategories.includes(category.value)}"
                    (click)="toggleCategory(category.value)">
                    <div>
                        <i class="fa-solid {{category.icon}} mr-1"></i>
                    </div>
                    <div>{{category.label}}</div>
                </div>
            </div>
        </div>

        <div class="flex flex-row flex-wrap justify-content-end w-full">
            <div class="m-1">
                <app-button [label]="nameButton" [severity]="'success'" [type]="'submit'"
                    [isDisabled]="form.invalid"></app-button>
            </div>
            <div class="m-1">
                <app-button (onClick)="onCancel()" [label]="'Cancel'" [severity]="'danger'"
                    [type]="'button'"></app-button>
            </div>
        </div>
    </div>
</form>