<div class="grid align-items-stretch">
    <div class="col-12 h-full">
        <app-wallet-card [walletSummary]="walletSummary"></app-wallet-card>
    </div>

    <!-- VERTICAL GRAPH -->
    <div class="col-12 md:col-7 lg:col-8 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item1 title-panel">Incomes and expenses of the year - {{selectedYear()}}</span>
                </div>
            </ng-template>
            <div *ngIf="verticalChartData().length > 0; else img">
                <app-vertical-bar-chart [dataGraph]="verticalChartData()" [dataYears]="years()"
                    (onYearSelected)="onChangeYear($event)">
                </app-vertical-bar-chart>
            </div>
        </p-panel>
    </div>

    <!-- POLAR GRAPH -->
    <div class="col-12 md:col-5 lg:col-4">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item2 title-panel">Transactions by category</span>
                </div>
            </ng-template>
            <div *ngIf="polarChartData().length > 0; else img">
                <app-polar-bar-chart class="flex justify-content-center"
                    [dataPolar]="polarChartData()"></app-polar-bar-chart>
            </div>
        </p-panel>
    </div>

    <!-- HORIZONTAL GRAPH -->
    <div class="col-12 md:col-4 lg:col-4 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item3 title-panel">Active budgets</span>
                </div>
            </ng-template>
            <div *ngIf="budgets().length > 0; else img">
                <app-horizontal-bar [datasets]="budgets()"></app-horizontal-bar>
            </div>
        </p-panel>
    </div>

    <div class="col-12 md:col-8 lg:col-8">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item4 title-panel">Total balance of the year - {{selectedYear()}}</span>
                </div>
            </ng-template>
            <div *ngIf="balanceChartData().length > 0; else img">
                <app-balance-line-chart [datasets]="balanceChartData()"></app-balance-line-chart>
            </div>
        </p-panel>
    </div>

    <!-- <div class="col-12 md:col-8 lg:col-8 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item1">Active budgets</span>
                </div>
            </ng-template>
            <app-table [data]="budgets()" [meta]="metaBudgets" [numberRegistersByPage]="5" [columns]="tableColumns"
                (paginate)="onPageChange($event)" [actions]="actions" [cellTemplates]="{
            percentage:progressTemplate,
            limit_amount: currencyTemplate,
        }"></app-table>

            <ng-template #progressTemplate let-value>
                <p-progressBar [value]="value"></p-progressBar>
            </ng-template>

            <ng-template #currencyTemplate let-value>
                {{ value | currency:'USD':'symbol':'1.2-2' }}
            </ng-template>
        </p-panel>
    </div> -->

    <div class="col-12 md:col-4 lg:col-4 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item2 title-panel">Total income by bank</span>
                </div>
            </ng-template>
            <div *ngIf="bankDetails().length >0; else img">
                <app-banks-information class="item2" [bankData]="bankDetails()"></app-banks-information>
            </div>
        </p-panel>
    </div>

</div>

<ng-template #img>
    <div class="empty-state">
        <img src="../../../../assets/no-data.jpg" alt="No data available" class="empty-image">
        <p class="empty-message">{{ msgNotFound }}</p>
    </div>
</ng-template>