<div class="grid align-items-stretch">
    <div class="col-12 h-full">
        <app-wallet-card [walletSummary]="walletSummary"></app-wallet-card>
    </div>

    <div class="col-12 md:col-7 lg:col-8 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item1">Transactions by month</span>
                </div>
            </ng-template>
            <app-vertical-bar-chart [dataGraph]="barChartData()" [dataYears]="years()"
                (onYearSelected)="onChangeYear($event)">
            </app-vertical-bar-chart>
        </p-panel>
    </div>

    <div class="col-12 md:col-5 lg:col-4 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item3">Transactions by category</span>
                </div>
            </ng-template>
            <app-polar-bar-chart class="item item3" [dataPolar]="pieChartData()"></app-polar-bar-chart>
        </p-panel>
    </div>

    <div class="col-12 md:col-4 lg:col-4 ">


        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item2">Total income by bank</span>
                </div>
            </ng-template>
            <app-banks-information class="item item2" [bankData]="bankDetails()"></app-banks-information>
        </p-panel>
    </div>

    <div class="col-12 md:col-8 lg:col-8">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item4">By defined</span>
                </div>
            </ng-template>
            <app-line-chart [datasets]="dataLine" [labels]="nameMonths"></app-line-chart>
        </p-panel>
    </div>

    <div class="col-12 md:col-8 lg:col-8 ">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="custom-header">
                    <span class="item4">Active budgets</span>
                </div>
            </ng-template>
            <app-table [data]="budgets()" [meta]="metaBudgets" [numberRegistersByPage]="5" [columns]="tableColumns"
                (paginate)="onPageChange($event)" [actions]="actions" [cellTemplates]="{
            percentage:progressTemplate,
            limit_amount: currencyTemplate,
        }"></app-table>

            <ng-template #progressTemplate let-value>
                <p-progressBar [value]="value"></p-progressBar>
            </ng-template>

            <ng-template #currencyTemplate let-value>
                {{ value | currency:'USD':'symbol':'1.2-2' }}
            </ng-template>
        </p-panel>
    </div>

</div>