<app-table 
    [columns]="tableColumns" 
    [data]="transactions" 
    [meta]="metaData" [numberRegistersByPage]="10"
    (paginate)="onPageChange($event)" 
    [actions]="actions"
    [eventTrigger]="eventTrigger" 
    [cellTemplates]="{
                    type: tagTemplate, 
                    date: dateTemplate, 
                    amount: amountTemplate, 
                    category: categoryTemplate,
                    repeat: repeatTemplate,
                }" >
</app-table>


<ng-template #tagTemplate let-value>
    <td *ngIf="value === 'INCOME'; else outflow">
        <div class="test">
            <p-tag severity="success" value="INCOME" />
        </div>
    </td>
    <ng-template #outflow>
        <td>
            <p-tag severity="danger" value="OUTFLOW" />
        </td>
    </ng-template>
</ng-template>

<ng-template #dateTemplate let-value>
    <td>{{ value | date:'longDate':'UTC' }}</td>
</ng-template>

<ng-template #amountTemplate let-value>
    <td>{{ value | currencyCustom:true }}</td>
</ng-template>

<ng-template #categoryTemplate let-value>
    <td>{{ value }}</td>
</ng-template>

<ng-template #repeatTemplate let-value>
    <td *ngIf="value === 'NEVER'; else otherRepeat">
        <div class="center">
            <p-tag icon="pi pi-circle-fill" severity="warning" value="{{value}}" />
        </div>
    </td>
    <ng-template #otherRepeat>
        <td>
            <div class="center">
                <p-tag icon="pi pi-clock" severity="success" value="{{value}}" />
            </div>
        </td>
    </ng-template>
</ng-template>