<app-table *ngIf="!isMobile" [columns]="tableColumns" [data]="transactions" [meta]="metaData"
    [numberRegistersByPage]="registersPerPage" (paginate)="onPageChange($event)" [actions]="actions" [cellTemplates]="{
                    type: tagTemplate, 
                    date: dateTemplate, 
                    amount: amountTemplate, 
                    category: categoryTemplate,
                    repeat: repeatTemplate,
                }">
</app-table>


<ng-template #tagTemplate let-value>
    <td *ngIf="value === 'INCOME'; else outflow">
        <div class="test">
            <p-tag severity="success" value="INCOME" />
        </div>
    </td>
    <ng-template #outflow>
        <td>
            <p-tag severity="danger" value="OUTFLOW" />
        </td>
    </ng-template>
</ng-template>

<ng-template #dateTemplate let-value>
    <td>{{ value | date:'longDate':'UTC' }}</td>
</ng-template>

<ng-template #amountTemplate let-value>
    <td>{{ value | currencyCustom:true }}</td>
</ng-template>

<ng-template #categoryTemplate let-value>
    <td>{{ value }}</td>
</ng-template>

<ng-template #repeatTemplate let-value>
    <td *ngIf="value === 'NEVER'; else otherRepeat">
        <div class="center">
            <p-tag icon="pi pi-circle-fill" severity="warning" value="{{value}}" />
        </div>
    </td>
    <ng-template #otherRepeat>
        <td>
            <div class="center">
                <p-tag icon="pi pi-clock" severity="success" value="{{value}}" />
            </div>
        </td>
    </ng-template>
</ng-template>


<div class="data" *ngIf="isMobile">

    <div class="dataview flex flex-nowrap justify-content-between gap-3 p-2 pb-3" *ngFor="let item of transactions">
        <div class="item-one flex flex-wrap align-content-center ">
            <div [ngStyle]="{'background-color':item.category?.color?.hex}"
                class="flex justify-content-center align-items-center p-3 border-circle">
                <i class="icon fa-solid {{item.category!.icon.path}}" [ngStyle]="{'color': '#fff'}"></i>
            </div>
        </div>
        <div class="item-two flex flex-column gap-2">
            <div class="item-two-left">
                <span class="font-medium text-secondary text-sm">
                    {{ item.date | date:'longDate':'UTC' }}
                </span>
                <div class="text-lg font-medium text-900">
                    {{ item.name }}
                </div>
            </div>
            <div class="item-two-right flex align-content-center gap-2">
                <div class="flex align-content-center">
                    <p-tag value="{{item.category!.name}}" severity="secondary" />
                </div>

                <div *ngIf="item.repeat !== 'NEVER'" class="flex flex-wrap justify-content-center align-content-center">
                    <i pTooltip="repeat: {{item.repeat}}" class="pi pi-clock"></i>
                </div>
            </div>

        </div>
        <div class="item-three flex-wrap flex align-content-center gap-2">
            <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteRow(item.id!)" [outlined]="true"></p-button>
            <p-button icon="pi pi-pencil" (onClick)="sendEditRow(item.id!, item)"></p-button>
        </div>
    </div>
</div>
<app-paginator *ngIf="isMobile" [meta]="metaData" (pageSelected)="onPageChange($event)"
    [numberRegistersByDefault]="10"></app-paginator>